apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: langflow-pvc
  namespace: chatbot
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: efs-sc
