apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: langflow-pvc
  namespace: chatbot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

  storageClassName: ebs-gp3-sc

